html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(243, 243, 243);
    line-height: 1.65;
    padding-bottom: 1000px;
}
/* latihan 1 */

.container-satu{
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}

.kolom-utama {
    flex: 3;
    order: 2;
}

.sidebar-satu {
    flex: 1;
    order: 1;
}

.sidebar-dua {
    flex: 1;
    order: 3;
}
/* akhir satu */
/* latihan dua */

.container-dua {
    max-width: 800px;
    margin: 50px auto;
}

.layanan {
    padding: 20px;
    box-sizing: border-box;
}
.layanan.satu {background-color: rgb(79, 79, 206);}
.layanan.dua { background-color: rgb(79, 255, 79);}
.layanan.tiga { background-color: rgb(255, 67, 67);}


/* akhir dua */



/* latian 3 */
.container-tiga {
    max-width: 800px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.thumbnail {
    width: 50%;
}

.thumbnail img {
    width: 100%;
}
/* akhir latian 3 */



/* latian 4 */
.container-empat{
    width: 900px;
    display: flex;
    margin: 50px auto;
}

.card {
    border: 1px solid #999;
    border-radius: 10px;
    background-color: #eee;
    overflow: hidden;
    margin: 10px;
}

.card .header {
    height: 150px;
    background-color: #666;
}

.card .content {
    text-align: center;
    padding-bottom: 20px;
}

.card.besar {
    transform: scale(1.12);
}
/* selesa */

/* lima */
.container-lima{
    display: flex;
    width: 500px;
    height: 500px;
    margin: 50px auto;
    border: 5px solid black;
}
.kotak {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: brown;
    color: white;
    margin: auto;
    text-align: center;
}

.kotak span{
    margin: auto;
}

/* responsive */
@media( min-width : 600px) {
    .container-dua {
        display: flex;
        justify-content: space-between;
    }

    .layanan{
        width: 30%;
    }

    .thumbnail {
        width: 25%;
    }
}