* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

@font-face {
  font-family: cocogoose;
  src: url(Font/cocogoose.ttf);
}

html {
  height: 3196px;
}
body {
  background-color: #ececec;
}

.all {
  background-color: #FFFFFF;
  width: 100%;
  height: 3196px;
}



/* navbar */
.navbar {
  background-color: #0080ff;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 30px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
  z-index: 999;
}

.logo {
  padding-left: 80px;
}

.navlinks {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 30%;
  padding-right: 80px;
}

.navlinks a {
  text-decoration: none;
  color: white;
}

.navlinks a:hover {
  color: skyblue;
}
/* navbar selesai */


/* main */
.container {
  width: 100%;
  height: 3196px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.introduction {
  width: 85%;
  height: 832px;
  margin-top: 8rem;
  border: 15px solid white;
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
}

.penyampaian {
  text-align: center;
  margin: 5% 20%;
}

.judul {
  font-size: 50px;
  font-weight: 250;
}

.nama {
  font-size: 100px;
  font-weight: 500;
}

.isi {
  font-size: 18px;
  font-weight: 400;
}

.perhitungan {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 40px 150px;
  border: none;
  margin: 0 250px;
  justify-content: space-between;
}

.rincian {
  font-size: 26px;
  text-align: center;
}

.hitung {
  border: 3px solid #c4c4c4;
  border-radius: 15px;
  font-size: 36px;
  text-align: center;
  padding-top: 3rem;
  width: 10rem;
}

.gabung-introduction {
  border: 2px solid #0080ff;
  border-radius: 15px;
  background-color: #0080ff;
  padding: 25px 115px;
  margin: auto;
}

.gabung-introduction a {
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.gabung-introduction:hover {
  background-color: skyblue;
}

.horizontalLine {
  margin: auto;
  display: inline-block;
  width: 70%;
}

.horizontalLine hr {
  border: 2px solid #dcdcdc;
  border-radius: 1px;
}
/* bagian 1 selesai */


/* bagian 2 */
.description {
  width: 85%;
  height: 600px;
  border: 0px solid white;
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
}

.picture {
  top: 0;
  left: 0;
  bottom: 0;
  width: 40rem;
  border-radius: 15px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
  z-index: 998;
}

.harga {
  display: block;
  position: relative;
  text-align: left;
  padding-left: 4rem;
  margin: auto;
}

.judul-harga {
  font-size: 38px;
  font-weight: 400;
}

.harga-rupiah {
  font-size: 48px;
  font-weight: 800;
}

.jadwal {
  font-size: 24px;
  font-weight: 400;
}

.list-check {
  list-style: none;
  font-size: 18px;
  font-weight: 250;
}

.gabung-description {
  border: 2px solid #0080ff;
  border-radius: 15px;
  background-color: #0080ff;
  padding: 25px 115px;
}

.gabung-description a {
  font-size: 25px;
  color: white;
  text-decoration: none;
  margin: auto;
}

.gabung-description:hover {
  background-color: skyblue;
}
/* bagian 2 selesai */

/* bagian 3 */

.kelas-minerva {
  position: relative;
  margin-top: 27px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 85%;
  margin: 27 auto;
}


/* judu; */

.bold-text {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  font-size: 48px;
  font-weight: 400;
}

.kotak-card {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
}

/* card acuan */

.card {
  margin: 41px 25px;
  background-color: #C4C4C4;
  width: 293px;
  height: 293px;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 30px;
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);

}

.card .header-card {
  height: 154px;
  background-color: #C4C4C4;
  border-radius: 30px;
}

.card .content-card {
  background-color: #FFFFFF;
  position: relative;
  bottom: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  border: 0px solid #C4C4C4;
  border-radius: 30px;
  height: 175px;
  overflow: hidden;
}
.content-card h3 {
  position: absolute;
  top: 1px;
  font-size: 20px;
  margin-bottom: 10px;
  left: 110px;
  top: 14px;
}

.content-card p {
  font-size: 24px;
  font-weight: 400;
}
.content-card button {
  color: #ececec;
  width: 194px;
  height: 45 px;
  margin: 14px auto;
  border-radius: 15px;
  padding: 10px;
  text-decoration: none;
  border: 0px;
  background-color: #0080ff;
  font-size: 18px;
  font-weight: 400;
}
/* done dulu */



/* section 4 */
.bagian-empat {
  background-color: #0080ff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 500px;
}

.header-testimoni {
  color: #FFFFFF;
  font-size: 58px;
  font-weight: 400px;
  margin-top: 69px;
}

.content-testimoni {
  border: 0px ;
  border-radius: 15px;
  margin: auto;
  display: flex;
  background-color:#ffffff;
  width: 704px;
  height: 253px;
  
}

.profil-testimoni {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
  border-radius: 15px;
  background-color: #aaacad;
  width: 278px;
  height: 253px;
}


.text-testimoni {
  width: 426px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:left;
  margin-left: 34px;
}


/* testi done */

/* footer */

.footer {
  width: 100%;
  height: 493px;
  margin-top: 200px;
}

.content-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.footer-kiri {
  background-color: aqua;
  width: 50%;

}

.footer-kanan {
  width: 50%;
  background-color: #aaacad;
}

.copy {
  width: 100%;
}