/* body {
    position: relative;
    margin: 0;
} */



.container {
    width: 1152px;
    height: 3196px;
    
}

.navbar {
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 64px;
    margin: 0 auto;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:#0080FF ;
    z-index: 9999;
}

.brand {
    margin-left: 111px;
}

.menu {
    display: flex;
    margin-right: 95px;
    
}

.menu .menu-item {
    
    margin-right: 34px;
}

.menu-item a {
    color: #fff;
    text-decoration: none;
}

.content1 {
    width: 929px;
    height: 632px;
    position: relative;
    background-color: #ffffff;
    color: #333333 ;
    display: flex;
    margin-top: 104px;
    margin-bottom: 57px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);


}

.content1 .bold {
    font-weight: 900;
    font-size: 64px;
}

.content1 .light {
    font-weight: 250;
}

.content1 .ket {
    text-justify: auto;
}
