.container {
    overflow: hidden; /* Membuat container mengikutsertakan tinggi dari elemen floated */
    font-size: 0; /* Menghapus ruang putih karena inline-block menggunakan ruang antar elemen */
    /* background-color: aqua; */
  }
  

  .item-left, .item-center, .item-right {
    display: inline-block;
    font-size: 16px; /* Kembalikan ukuran font pada elemen */
    background-color: salmon ;
  }
  
  .item-left {
    float: left; /* Membuat elemen berada di sebelah kiri */
  }
  
  .item-center {
    float: left; /* Membuat elemen berada di sebelah kiri */
    position: relative; /* Memaksa elemen berada dalam konteks relatif */
    left: 50%; /* Geser elemen ke tengah */
    transform: translateX(-50%); /* Membuat elemen tetap berada di tengah */
  }
  
  .item-right {
    float: right; /* Membuat elemen berada di sebelah kanan */
  } 
  